aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
autobahn==20.4.3
Automat==20.2.0
backcall==0.1.0
beautifulsoup4==4.9.0
bs4==0.0.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
constantly==15.1.0
cryptography==2.9.2
cssselect==1.1.0
decorator==4.4.2
Flask==1.1.2
flask-crontab==0.1.2
flask-mongoengine==0.9.5
Flask-WTF==0.14.3
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
ipython==7.13.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.2
lxml==4.5.0
MarkupSafe==1.1.1
mongoengine==0.20.0
multidict==4.7.6
parsel==1.5.2
parso==0.7.0
pem==20.1.0
APScheduler==3.6.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.1
prompt-toolkit==3.0.5
Protego==0.1.16
psutil==5.7.0
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
Pygments==2.6.1
PyHamcrest==2.0.2
pymongo==3.10.1
pyOpenSSL==19.1.0
python-crontab==2.5.1
python-dateutil==2.8.1
pytz==2020.1
queuelib==1.5.0
requests==2.23.0
schedule==0.6.0
Scrapy==2.0.1
service-identity==18.1.0
six==1.14.0
soupsieve==2.0
tabulate==0.8.7
traitlets==4.3.3
Twisted==20.3.0
txaio==20.4.1
tzlocal==2.1
urllib3==1.25.9
w3lib==1.21.0
wcwidth==0.1.9
Werkzeug==1.0.1
WTForms==2.3.1
yarl==1.4.2
zope.interface==5.1.0
